
# General-purpose or utilities:
numpy
joblib
graphviz

# Database-related:
sqlalchemy
pymysql
mysql-connector-python

# Web framework:
flask
Flask-Cors

# Excel and data manipulation:
openpyxl
pandas
xlsxwriter

# Image processing:
opencv-python
matplotlib

# Machine learning:
scikit-learn
xgboost

# Text processing:
pyvi
easyocr
unidecode